{% extends 'layout.html' %} {% block title %} Contacto {% endblock%} {% block content %}


<section class="form-quejas">

    <h3>Comunicate con nosotros</h3>



    <input class="controls" type="text" name="nombres" id="nombres" value="" placeholder="Ingrese su nombre" required />

    <input class="controls" type="email" name="email" id="email" value="" placeholder="Email" required />
    <select class="controls" name="category" id="category">
            <option value="">- Asunto -</option>
            <option value="1">Dudas</option>
            <option value="1">Quejas</option>
          </select>



    <textarea class="controls" name="message" id="message" placeholder="Motivo de contacto" rows="6"></textarea>

    <input class="boton" type="submit" value="Enviar">

    <p>Estoy de acuerdo con los <a href="{% url 'terminos' %}">Terminos y Condiciones</a> </p>

</section>
{% endblock %}