body {
    background-color: #F8F8F8;
}

.box {
    height: 800px;
}

.logoText{
    text-shadow: 5px 1px 15px #FBCFE8;
}

.logoText:hover{
    box-shadow: 1px 2px 5px #EC4899;

}
.form-quejas {
    width: 400px !important;
    margin: auto !important;
    border-radius: 4px !important;
    color: white !important;
}

.form-quejas h3 {
    font-size: 22px !important;
    margin-bottom: 20px !important;
    color: #444;
}

.controls {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 4px !important;
    margin-bottom: 16px !important;
    border: 1px solid #EC4899 !important;
    font-size: 18px !important;
    float: left;
    display: block;
}

#category {
    color: #444;
}

.controls::placeholder {
    color: #444;
}

.form-quejas p {
    height: 40 !important;
    text-align: center !important;
    font-size: 18px !important;
    line-height: 40px !important;
    color: #444;
}

.form-quejas a {
    color: rgba(44, 78, 143, 0.76) !important;
    text-decoration: none !important;
}

.form-quejas a:hover {
    color: #24303c !important;
    text-decoration: underline !important;
}

.form-quejas .boton {
    width: 100% !important;
    background: #EC4899 !important;
    border: none !important;
    padding: 12px !important;
    color: white !important;
    margin: 16px 0 !important;
    font-size: 16px !important;
}


/* ESTILOS CARRUSEL */

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-carousel .my-card {
    height: 20rem;
    width: 100%;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #FFA4BA;
    transition: 1s;
}

.card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.card-carousel .my-card.prev,
.card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
}

.card-carousel .my-card:nth-child(0):before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.Text h2 {
    font-size: 100px !important;
    margin-bottom: 100px !important;
    color: #EC4899
}